:root {
  --sky: #030c13;
  
  --sky-grad: linear-gradient(
    180deg,
    rgba(216, 201, 201, 1) 0%,
    rgba(221, 142, 142, 1) 32%,
    rgba(3, 12, 19, 1) 59%,
    rgba(3, 12, 19, 1) 100%
  );
  --background-position: -130%;
  
  /*
  --sky-grad: linear-gradient(
    0deg,
    rgba(216, 201, 201, 1) 0%,
    rgba(221, 142, 142, 1) 32%,
    rgba(3, 12, 19, 1) 59%,
    rgba(3, 12, 19, 1) 100%
  );
  --background-position: 0%;
*/

  --primary: #090e0d;
  --secondary: #6aa69a;
  --secondary-rgb: 106, 166, 154;
  --highlight: #d6722f;
  --highlight-rgb: 214, 114, 47;
  --off-white: #f2d4bf;
  --off-white-rgb: 242, 212, 191;
  --transparent: rgba(10, 10, 10, 0.3);
  --text-shadow: 0.7;

  --switch-color: #bac0c2;
  --switch-color-back: #294961;
  --scale: 1;

  --building-1-color: #090e0d;
  --building-2-color: #141b1a;
  --building-3-color: #202a29;
  --building-4-color: #2d3635;
  --star-color: #ffffff;
}

[data-theme="light"] {
  --sky: #d8c9c9;
    
  --sky-grad: linear-gradient(
    180deg,
    rgba(216, 201, 201, 1) 0%,
    rgba(221, 142, 142, 1) 32%,
    rgba(3, 12, 19, 1) 59%,
    rgba(3, 12, 19, 1) 100%
  );
  --background-position: -10%;
  
  /*
  --sky-grad: linear-gradient(
    0deg,
    rgba(216, 201, 201, 1) 0%,
    rgba(221, 142, 142, 1) 32%,
    rgba(3, 12, 19, 1) 59%,
    rgba(3, 12, 19, 1) 100%
  );
  --background-position: -130%;
*/
  --primary: #dbd8d8;
  --secondary: #718f79;
  --secondary-rgb: 142, 87, 87;
  --highlight: #8e5757;
  --highlight-rgb: 142, 87, 87;
  --off-white: #110903;
  --off-white-rgb: 17, 9, 3;
  --text-shadow: 0.2;
  --transparent: rgba(160, 160, 160, 0.3);

  --switch-color: #daa544;
  --switch-color-back: #91aca7;

  --building-1-color: #dbd8d8;
  --building-2-color: #acb8b6;
  --building-3-color: #46645f;
  --building-4-color: #405757;

  --star-color: transparent;
}

* {
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--sky);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 180%;
}

p,
h1,
h2,
h3 {
  color: var(--off-white);
  transition: color 750ms ease;
}

h1,
h2,
h3 {
  font-family: "Roboto Serif", serif;
}

h1 {
  font-size: 4.5rem;
  font-weight: 200;
}

@media (max-width: 42rem) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

@media (max-width: 42rem) {
  h2 {
    font-size: 2.5rem;
  }
}


section {
  max-width: 40rem;
  margin: 0 auto;
  padding: 10rem 2rem;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn-primary {
  padding: 1rem 2rem;
  background-color: var(--highlight);
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  transition: all 150ms ease;
  z-index: 0;
  transition: background-color 750ms ease;
}

.btn-primary::before {
  content: "";
  height: 100%;
  width: 125%;
  transform: translateX(-100%);
  background-color: var(--secondary);
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  transition: all 350ms ease;
  z-index: -1;
}

.btn-primary:hover::before {
  transform: translateX(0);
}

.btn-primary:focus-visible::before {
  transform: translateX(0);
}

.btn-primary > p {
  color: #f0f0f0;
  font-family: "Roboto", serif;
  font-size: 1.25rem;
}

.text-shadow {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, var(--text-shadow));
  transition: all 750ms ease;
}
