---
---

<script>
  const wrapper = document.querySelector(".wrapper");
  const studyButton = document.querySelector(".link-study") as HTMLElement;
  const experience = document.getElementById("experience")!.offsetTop;
  studyButton!.addEventListener("click", (event) => {
    wrapper!.scroll({ top: experience });
  });

  const projectButton = document.querySelector(".link-project") as HTMLElement;
  const projects = document.getElementById("projects")!.offsetTop;
  projectButton!.addEventListener("click", (event) => {
    wrapper!.scroll({ top: projects });
  });

  const contactButton = document.querySelector(".link-contact") as HTMLElement;
  const contact = document.getElementById("contact")!.offsetTop;
  contactButton!.addEventListener("click", (event) => {
    wrapper!.scroll({ top: contact });
  });
</script>
<section>
  <h2><span class="hand">👋</span> About Me</h2>
  <p>
    Hello, I'm Tim, a 25 year old Software Development. I'm currently in my
    final semester studying <span class="btn-link link-study"
      >cognitve computer science</span
    >. Sometimes I like messing around with different Web Technologies so feel
    free to check out my <span class="btn-link link-project">projects</span>
    or reach out to me in the <span class="btn-link link-contact"
      >contact form</span
    > below.
  </p>
</section>
<style>
  .hand {
    display: inline-block;
    transform-origin: 75% 75%;
  }
  .hand:hover {
    animation: hello-animation ease 2000ms;
  }
  @keyframes hello-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  .link-study::before {
    content: "cognitve computer science";
  }

  .link-project::before {
    content: "projects";
  }

  .link-contact::before {
    content: "contact form";
  }
</style>
