---
---

<script>
  const successAlert = document.querySelector(".success-alert") as HTMLElement;
  const errorAlert = document.querySelector(".error-alert") as HTMLElement;

  const handleSubmit = (event: any) => {
    event.preventDefault();

    const myForm = event.target;
    const formData: FormData = new FormData(myForm);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      // @ts-ignore
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => {
        alert("hallo")
        successAlert!.classList.remove("not-visable");
        errorAlert!.classList.add("not-visable");
      })
      .catch((error) => {
        successAlert!.classList.add("not-visable");
        errorAlert!.classList.remove("not-visable");
      });
  };

  document.querySelector("form")!.addEventListener("submit", handleSubmit);
</script>
<section>
  <h2>Contact</h2>
  <p>
    Whether you have a opportunity, question or just want to say hi, don't
    hesitate to use the form or reach out to me on one of my socials!
  </p>
  <div class="success-alert not-visable"><p>worked</p></div>
  <div class="error-alert not-visable"><p>failed</p></div>
  <form name="contact" method="POST" data-netlify="true">
    <p>
      <input type="text" name="name" placeholder="Name" required />
    </p>
    <p>
      <input type="email" name="email" placeholder="E-mail" required />
    </p>
    <p>
      <input type="text" name="subject" placeholder="Subject" required />
    </p>
    <p>
      <textarea name="message" placeholder="Message" required></textarea>
    </p>
    <p>
      <button class="btn-primary btn-form" type="submit"
        ><p>Send Message</p></button
      >
    </p>
  </form>
</section>

<style>
  .btn-form {
    padding: 0.5rem 2rem;
  }
  .btn-form > p {
    font-size: 0.9rem;
  }
  input::placeholder {
    color: var(--off-white);
    font-family: "Roboto", sans-serif;
  }

  textarea::placeholder {
    color: var(--off-white);
    font-family: "Roboto", sans-serif;
  }

  .not-visable {
    visibility: hidden;
    height: 0;
  }
</style>
