---
---

<script>
  const successAlert = document.querySelector(".success-alert") as HTMLElement;
  const errorAlert = document.querySelector(".error-alert") as HTMLElement;

  const handleSubmit = (event: any) => {
    event.preventDefault();

    const myForm = event.target;
    const formData: FormData = new FormData(myForm);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      // @ts-ignore
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => {
        successAlert!.classList.remove("not-visable");
        errorAlert!.classList.add("not-visable");
      })
      .catch((error) => {
        successAlert!.classList.add("not-visable");
        errorAlert!.classList.remove("not-visable");
      });
  };

  document.querySelector("form")!.addEventListener("submit", handleSubmit);
</script>
<section>
  <h2>Contact</h2>
  <p>
    Whether you have a opportunity, question or just want to say hi, don't
    hesitate to use the form or reach out to me on one of my socials!
  </p>
  <form name="contact" method="POST" data-netlify="true">
    <p>
      <input class="test" type="text" name="name" required placeholder="Name" />
    </p>
    <p>
      <input type="email" name="email" required placeholder="E-mail" />
    </p>
    <p>
      <input type="text" name="subject" required placeholder="Subject" />
    </p>
    <p>
      <textarea name="message" required placeholder="Message"></textarea>
    </p>
    <p>
      <div class="test">
        <button class="btn-primary btn-form" type="submit"
          ><p>Send Message</p></button
        >
        <div class="success-alert not-visable">
          <p>Thank You! Your message has been sent.</p>
        </div>
        <div class="error-alert not-visable">
          <p>
            Looks like there was a problem. Feel free to contact me on one of my
            socials.
          </p>
        </div>
      </div>
    </p>
  </form>
</section>

<style>
  .btn-form {
    padding: 0.5rem 2rem;
  }
  .btn-form > p {
    font-size: 0.9rem;
  }
  input::placeholder {
    color: rgba(var(--off-white-rgb), 0.6);
    font-family: "Roboto", sans-serif;
  }

  textarea::placeholder {
    color: rgba(var(--off-white-rgb), 0.6);
    font-family: "Roboto", sans-serif;
  }
  .test {
    position: relative;
    display: flex;
    align-items: center;
  }

  .not-visable {
    visibility: hidden;
  }

  .success-alert {
    position: absolute;
    left: 11rem;
  }

  .error-alert {
    position: absolute;
    left: 0rem;
    top: 3.5rem;
  }

  @media (max-width: 42rem) {
    .success-alert {
      left: 0rem;
      top: 3.5rem;
    }
  }

  .form-field {
    position: relative;
  }

  input,
  textarea {
    width: 100%;
    height: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
    margin-top: 1rem;
    padding: 0.8rem 0;
    border-bottom: 0.1rem var(--off-white) solid;
    color: var(--off-white);
    transition: border 200ms ease;
  }

  textarea {
    height: 5rem;
    resize: vertical;
    margin-bottom: 1rem;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 4rem var(--off-white) inset;
  }

  input:focus {
    border-bottom: 0.1rem var(--secondary) solid;
  }

  textarea:focus {
    border-bottom: 0.1rem var(--secondary) solid;
  }
</style>
