---
---

<section>
  <h2>Experience</h2>
  <div class="container">
    <h3>
      Part-time Software Developer <span class="color-highlight">@Schüco</span>
    </h3>
    <p class="date">November 2019 - Current</p>
    <p class="info">
      Built and Maintained a web app responsible for filtering and viewing all
      of Schüco's technical documentation.
    </p>
    <div class="tags">
      <div class="tag"><p class="text-shadow">Angular</p></div>
      <div class="tag"><p class="text-shadow">Pimcore</p></div>
      <div class="tag"><p class="text-shadow">PHP</p></div>
      <div class="tag"><p class="text-shadow">Elasticsearch</p></div>
      <div class="tag"><p class="text-shadow">Git</p></div>
    </div>
  </div>
  <div class="container">
    <h3>
      University Teaching Assistant <span class="color-highlight"
        >@University Bielefeld</span
      >
    </h3>
    <p class="date">Oktober 2018 - April 2019</p>
    <p class="info">
      Worked as a teaching assistant for the module 'Algorithms and
      Datastructures'. Held weekly office hours, graded homework and exams.
    </p>
  </div>
  <div class="container">
    <h3>
      B.Sc. Cognitive Computer Science <span class="color-highlight"
        >@University Bielefeld</span
      >
    </h3>
    <p class="date">Expected graduation date 2023</p>
    <p class="info">Some of the courses I completed:</p>
    <div class="tags">
      <div class="tag"><p class="text-shadow">Mathematics for Computer Science</p></div>
      <div class="tag"><p class="text-shadow">Computer Architecture</p></div>
      <div class="tag"><p class="text-shadow">IC-Design</p></div>
      <div class="tag"><p class="text-shadow">Machine Learning</p></div>
      <div class="tag"><p class="text-shadow">Software Engineering</p></div>
      <div class="tag"><p class="text-shadow">Computer Graphics</p></div>
      <div class="tag"><p class="text-shadow">Formal Logic</p></div>
      <div class="tag"><p class="text-shadow">Computer Vision</p></div>
    </div>
  </div>
</section>
<style>
  .date {
    font-size: 0.8rem;
    margin-top: 0.3rem;
  }
</style>
