---
import ThemeSwitch from "../components/ThemeSwitch.astro";
---

<script>
  import Parallax from "parallax-js";
  var buildingsScene = document.getElementById("building-scene");
  var parallaxInstance = new Parallax(buildingsScene, {
    limitY: 0,
  });
  const wrapper = document.querySelector(".wrapper");
  const contactButton = document.querySelector(
    ".contact-btn-large"
  ) as HTMLElement;
  const contact = document.getElementById("contact")!.offsetTop;
  contactButton!.addEventListener("click", (event) => {
    wrapper!.scroll({ top: contact });
  });
</script>
<div class="name">
  <div class="name-inner">
    <h1 class="title">Tim Lauffs</h1>
    <div>
      <div class="flex-sub-title">
        <ThemeSwitch />
        <p class="sub-title">Software Engineer</p>
      </div>
      <button class="btn-primary btn-contact contact-btn-large"
        ><p class="text-shadow">Contact Me!</p></button
      >
    </div>
  </div>
</div>
<div class="buildings" id="building-scene">
  <div data-depth="1.6" class="building-wrapper">
    <div class="building-inner building-4-inner">
      <div class="building building-4"></div>
      <div class="building-after building-4-after"></div>
    </div>
  </div>
  <div data-depth="1.2" class="building-wrapper">
    <div class="building-inner building-3-inner">
      <div class="building building-3"></div>
      <div class="building-after building-3-after"></div>
    </div>
  </div>
  <div data-depth="0.8" class="building-wrapper">
    <div class="building-inner building-2-inner">
      <div class="building building-2"></div>
      <div class="building-after building-2-after"></div>
    </div>
  </div>
  <div data-depth="0.4" class="building-wrapper">
    <div class="building-inner building-1-inner">
      <div class="building building-1"></div>
      <div class="building-after building-1-after"></div>
    </div>
  </div>
</div>
<style>
  .name {
    position: fixed;
    text-align: end;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
    transform: translateZ(-80px) scale(9);
    right: 70px !important;
    display: flex;
    justify-content: end;
  }

  .name-inner {
    margin-top: 8rem;
    margin-right: 6rem;
  }

  .title {
    position: relative;
    transition: all 750ms ease;
  }

  .title::before {
    content: "";
    width: 100%;
    height: 0.2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--secondary);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 300ms ease;
  }

  .title:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .flex-sub-title {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
  }

  .sub-title {
    font-size: 2rem;
    line-height: 100%;
    font-weight: 300;
    position: relative;
    display: inline-block;
    transition: all 750ms ease;
  }
  @media (max-width: 42rem) {
    .sub-title {
      font-size: 1.5rem;
    }
  }

  .sub-title::before {
    content: "";
    width: 100%;
    height: 0.2rem;
    position: absolute;
    bottom: -0.4rem;
    left: 0;
    background: var(--highlight);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 300ms ease;
  }

  .sub-title:hover::before {
    transform: scaleX(1);
    transform-origin: bottom right;
  }

  .btn-contact {
    margin-top: 2.5em;
    display: block;
    margin-left: auto;
  }

  .buildings {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: center;
    transform-style: preserve-3d;
    z-index: -1;
  }

  .building-wrapper {
    bottom: 0;
    margin-top: auto;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
  }

  .building-inner {
    width: 100%;
    height: 100%;
  }

  .building-1-inner {
    transform: translateY(-5%);
  }

  .building-2-inner {
    transform: translateZ(-3px) translateY(-15%) scale(1.3);
  }

  .building-3-inner {
    transform: translateZ(-6px) translateY(-30%) scale(1.6);
  }

  .building-4-inner {
    transform: translateZ(-9px) translateY(-45%) scale(1.9);
  }

  .building {
    position: absolute;
    bottom: 0;
    background-size: auto 100%;
    background-position: center;
    width: 150%;
    margin-left: -25%;
    transition: all 750ms ease;
  }

  .building-1 {
    background: var(--building-1-color);
    -webkit-mask-image: url("/building1.svg");
    mask-image: url("/building1.svg");
    mask-size: auto 100%;
    -webkit-mask-size: auto 100%;
    height: min(14rem, 40%);
  }

  .building-2 {
    background: var(--building-2-color);
    -webkit-mask-image: url("/building2.svg");
    mask-image: url("/building2.svg");
    mask-size: auto 100%;
    -webkit-mask-size: auto 100%;
    height: min(12rem, 38%);
  }

  .building-3 {
    background: var(--building-3-color);
    -webkit-mask-image: url("/building3.svg");
    mask-image: url("/building3.svg");
    mask-size: auto 100%;
    -webkit-mask-size: auto 100%;
    height: min(10rem, 36%);
  }

  .building-4 {
    background: var(--building-4-color);
    -webkit-mask-image: url("/building4.svg");
    mask-image: url("/building4.svg");
    mask-size: auto 100%;
    -webkit-mask-size: auto 100%;
    height: min(8rem, 34%);
  }

  .building-after {
    position: absolute;
    transform: translateY(98%);
    bottom: 0;
    height: 20%;
    width: 150%;
    margin-left: -25%;
    transition: all 750ms ease;
  }

  .building-1-after {
    background-color: var(--building-1-color);
  }

  .building-2-after {
    background-color: var(--building-2-color);
  }

  .building-3-after {
    background-color: var(--building-3-color);
  }

  .building-4-after {
    background-color: var(--building-4-color);
  }

  @media (max-width: 56rem) {
    .name {
      justify-content: center;
      text-align: center;
    }
    .name-inner {
      margin-right: 0;
    }
    .btn-contact {
      margin: auto;
      margin-top: 2rem;
    }
    .flex-sub-title {
      justify-content: center;
    }
  }
</style>
